sudo: false

language: node_js
node_js:
  - "0.10"
  - "0.12"
  - "4"
  - "6"
  - "stable"

cache:
  directories:
    - $HOME/.npm
    - $HOME/.cache # includes bowers cache

before_install:
  - npm config set spin false
  - npm install -g bower phantomjs-prebuilt

install:
  - npm install
  - bower install
